<div id="delete_channel-modal" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Channel削除</h5>
      <span class="modalClose" id="delete-page-close-button">×</span>
    </div>
    <form 
      name="deleteChannelForm" 
      id="deleteChannelForm" 
      class="modal-body" 
      action="" 
      method="POST"
    >
      <p>削除ボタンを押すとチャンネルが消えます</p>
      <p>本当によろしいですか？</p>
      <button id="delete_channel-confirmation-button">削除</button>
    </form>
  </div>
</div>

