{% extends 'top/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

{% block title %}home{% endblock %} 

{% block bgcolor %}<body bgcolor="009BC6">{% endblock %}

{% block header %}<header class="channels-header">{% endblock %}

{% block nav %}
<a class="channels-header-link" href="{{url_for('logout')}}">ログアウト</a>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes" id="flash-message">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<div class="main-container">
  <div class="channel-title">
    <p class="channel-user">ようこそ {{ nickname }}さん</p>
    <h2>CHANNEL一覧</h2>
  </div>
  
  <div id="channels-list">
    <ul class="channel-box"></ul>
  </div>
  
  <div id="footer">
    <button type="button" id="create_channel-button" class="create_channel-btn">
      Channel新規作成
      <ion-icon name="add-circle-outline"></ion-icon>
    </button>
  </div>
  {% include 'top/modal/create_channel.html' %}
  {% include 'top/modal/update_channel.html' %}
  {% include 'top/modal/delete_channel.html' %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  // prettier-ignore
  const channels = JSON.parse('{{ channels|tojson }}');
  // prettier-ignore
  const uid = JSON.parse('{{ uid|tojson }}');
</script>
<script
  src="{{url_for('static',filename='js/channels_list.js')}}"
  type="module"
></script>
<script>
  const element = document.getElementById("flash-message");
  setTimeout(() => { 
      element.style.display = "none"; 
  }, 3000);
</script>
{% endblock %}