{% extends "top/base.html" %}

{% block title %}ログイン{% endblock %}

{% block nav %}
<a class="link" href="{{url_for('top')}}">TOP</a>
{% endblock %}

{% block main %}
<div class="auth-wrapper">    
    <h1>ログイン</h1>
    <form method="POST">
        <div>
            <label for="email">EMAIL ADDRESS</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">PASSWORD</label>
            <input type="password" name="password">
        </div>
      <div class="auth-button-container"></div>    
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes" id="flash-message">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
          <input class="auth-button" type="submit" value="ログイン">
          <a class="switch-auth-mode" href="{{ url_for('signup') }}">
            新規登録
          </a>
      </div>
    </form> 
</div>    
{% endblock %}
{% block script %}
<script>
  const element = document.getElementById("flash-message");
  setTimeout(() => { 
      element.style.display = "none"; 
  }, 3000);
</script>
{% endblock %}