{% extends "top/base.html" %}

{% block title %}サインアップ{% endblock %}

{% block nav %}<a class="link" href="{{url_for('top')}}">キャンセル</a>
{% endblock %}

{% block main %}
    <h1>新規登録</h1>
    <form action ='' method="post">
        <div>
            <label for = 'name'>NAME</label>
            <input type = 'text' id = 'name' name = 'name'>
        </div>
        <div>
            <label for = 'email'>EMAIL ADDRESS</label>
            <input type ='text' name = 'email'>
        </div>
        <div>
            <label for = 'nickname'>NICKNAME</label>
            <input type = 'text' name = 'nickname'>
        </div>
        <div>
            <label for = 'password'>PASSWORD</label>
            <input type = 'password' name = 'password'>
        </div>
        <input type = 'submit' value="登録">
    </form>
{% endblock %}
</body>
</html>