{% extends "top/base.html" %}

{% block title %}サインアップ{% endblock %}

{% block nav %}<a class="link" href="{{url_for('top')}}">TOP</a>
{% endblock %}

{% block main %}
<div class="auth-wrapper">
    <h1>新規登録</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      <form action ='' method="post">
        <div class="form">
          <label for = 'name'>NAME</label>
          <input type = 'text' id = 'name' name = 'name'>
        </div>
        <div>
          <label for = 'email'>EMAIL ADDRESS</label>
          <input type ='text' name = 'email'>
        </div>
        <div>
          <label for = 'nickname'>NICKNAME</label>
          <input type = 'text' name = 'nickname'>
        </div>
        <div>
          <label for = 'password'>PASSWORD</label>
          <input type = 'password' name = 'password'>
        </div>
        <div>
          <label for = 'confirm_password'>確認PASSWORD</label>
          <input type = 'password' name = 'confirm_password'>
        </div>
        <input class="auth-button" type = 'submit' value="登録">
          <a class="switch-auth-mode" href="{{ url_for('login_view') }}">
            ログイン
          </a>
      </form>
</div>
{% endblock %}
</body>
</html>