/* ヘッダー・ナビゲーションのCSS */
header{
    color:white;
    background-color: #009bc6; 
}
.header-inner{
    margin: 0em 1em;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.logo{
    padding: 0%;
    margin: 0%;
    font-size: x-large;
    font-weight: bold;
}
.top-nav{
    display: flex;
    gap: 1em;
}
.link{
    color: white;
    text-decoration: underline;
    font-size: 0.7em;
}
.main-pic{
    margin: 10px 0Px;
}
img{
    max-width: 100%; /* 親要素の幅を超えない最大幅 */
    height: auto;    /* 元の縦横比を維持 */
}

/* ログイン・サインアップページのCSS */
.auth-wrapper{
    color: #009BC6;
}
h1{
    color:#403C3C;
    text-align: center;
}

label{
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}
input{
    text-align: center;
    width: 75%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auth-button{
    margin: 40px 0px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #009BC6;
    color: white;
    border: none;
}
